.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    background-color: #fff;
    color: rgb(76, 76, 243);
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}